[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
django-rest-framework = "*"
djangorestframework = "*"
djangorestframework-camel-case = "*"

[dev-packages]
black = "==18.9b0"

[requires]
python_version = "3.7"
